body {
    background-color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier;
}
h1 {
    color: blueviolet;
    text-align: center;
    font-size: 30px;
}
div {
    display: flex;
    flex-direction: column;
    margin: auto;
}
label {
    gap: 4px;
    font-size: 30px;
    text-align: center;
    display: flex;
    margin: auto;
    color: rgb(224, 45, 224);
}
h2 {
    text-align: center;
    color: gold;
}

button {
    border-radius: 30px;
    background-color: aliceblue;
    width: fit-content;
    margin: auto;
    padding: 10px;
    font-size: 18px;
}
